body{
    background-color: rgb(183, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 0 0;
    border: 0;
    padding: 0;
    position: absolute;
}

header{
    position: absolute;
    display: flex;
}

.principal{
    height: auto;
    display: row;
    align-items: center;
}

.container{
    display: flexbox    ;
    align-items: center;
}

.logo{
    left: 20%;
}

.slide{
    height: 80vh;
    display: flexbox;
}

.slide img{
    max-width: 300%;
    min-width: 30%;
    width: 100%;
    margin: 0; /* margin-top: 10px; se quiser colocar um espaço entre as sessões */
}


.texto-home{
    margin-top: -80vh;
    text-align: center;
    font-weight: 70vh;
    font-size: 12vh;
    justify-content: center;
    display: flexbox;
    font-family: 'Atma', cursive;
    color: #fff;
    text-shadow: 
    2px 2px 0px #fff, 
    8px 8px 0px #000;
}

.slogan{
    display: flex;
    text-align: left;
    height: 175vh;
    font-size: 12vh;    
    background: rgb(255,127,0);
    background: linear-gradient(90deg, rgba(255,127,0,1) 35%, rgba(249,207,128,1) 100%);

}

.marketing p{
    display: flex;
    margin-top: 60vh;
    margin-left:15vh;
    width: 85vh;
    font-size: 6vh;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


.iphone{
    position: absolute;
    margin-top: 25%;
    margin-left: 60%;
}
/*necessario arrumar os botoes*/
.botoes{
    position: absolute;
    margin-top: 50%;
    margin-left: 45%;
    display: flex;
    padding: 0;
}

ul{
    display: inline;
    list-style: none;
}

li button{
    display: inline;
    border: none;
}

.AppleStore{
    display: flexbox;
    margin-top: 50%;
    background-color: transparent;
}

.PlayStore{
    margin-left: -10.5% ;
    margin-top: 55%;
    background-color: transparent;
}
/* arrumar apartir daqui*/
#bloco03{
    background-color: #fff;
    width: 100%;
    height: 140vh;
    display: flex;
    align-content: flex-start;
}

#bloco03 h1{
    margin-left: 5vh;
    margin-top: 25vh ;
    font-size: 6vh;
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.divulgacao img{
    position: relative;
    margin-top: 26vh;
    margin-left: 60vh ;
    box-shadow: 2px 9px 5px rgba(0,0,0.3,0.2);
}

.texto03{
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-size: 6vh;
    margin-top: 45vh;
    margin-left: 5vh;
    width: 90vh;
    height: 3vh;

}

.divulgacao img{
    right: 03%;
}

.opinoes{
    background: rgb(255,127,0);
    background: linear-gradient(90deg, rgba(255,127,0,1) 35%, rgba(249,207,128,1) 100%);
    width: 100%;
    height: 135vh;
    display: flex;  
}

.titulo{
    margin-left: 35vh ;
    font-size: 15vh;
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.comentarios{
    margin-left: 20vh;
    margin-top: 40vh;
    font-size: 5vh;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
}



.comentarios ul{
    display: flex;
    justify-content: center;    
    width: 150vh;
    height: auto;
}

.comentarios ul li{
    display: inline-flex;
}

.comentario01 h1{
    font-size: 8vh;

}


.comentario02 h1{
    font-size: 8vh;
}


.comentario03 h1{
    font-size: 8vh;
}
/*
.comentario01 p{
}


.comentario02 p{
}


.comentario03 p{
}*/

.contato{
    background-color: #fff;
    width: 100%;
    height: 130vh;
    display: flex;
}

.info{
    left: 10vh;
    position: absolute;
    align-items: left;
    width: 100vh;

}

.info h1{
    font-size: 60px;
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.info p{
    margin-right: 60vh;
    font-size: 30px;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

iframe{
    margin-top: 20vh;
    margin-left: 105vh;
}







footer{
    width: 100%;
    height: 6vh;

    background: rgb(255,127,0);
    background: linear-gradient(90deg, rgba(255,127,0,1) 35%, rgba(249,207,128,1) 100%);;
}