body{
    background-color: rgb(183, 202, 202);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 0 0;
}

header{
    position: absolute;
    display: block;
}

/*.forms{
    background-color:none;
    left: 2%;
    top: 2%;
	max-width: 300px;
	min-height: 88px;
	text-align: center;
	margin-left: 75%; 
    color: aqua;
    font-size: 16px;
}

.forms input{
    font-weight: bold;
	color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 7px 10px;
 
}

input[type=button] {
    background-color: #CD853F	;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 8px 10px;
    cursor: pointer;
  }
*/ 

/*.principal{
    display: flex;
    justify-content: center;
}*/

.principal{
    height: auto;
    display: row;
    align-items: center;
}

.container{
    align-items: center;
}

.logo{
    left: 20%;
}

.slide{
    height: 80vh;
    display: flexbox;
}

.slide img{
    max-width: 200%;
    min-width: 30%;
    width: 100%;
    margin: 0; /* margin-top: 10px; se quiser colocar um espaço entre as sessões */
}


.texto-home{
    margin-top: -50%;
    text-align: center;
    font-weight: 70vh;
    font-size: 12vh;
    display: block;
    font-family: 'Atma', cursive;
    color: #fff;
    text-shadow: 
    2px 2px 0px #fff, 
    8px 8px 0px #000;
}

.slogan{
    padding: none;
    border: none;
    display: flex;
    text-align: left;
    height: 1000px;
    font-size: 30px;    
    background: rgb(255,127,0);
    background: linear-gradient(90deg, rgba(255,127,0,1) 35%, rgba(249,207,128,1) 100%);
    
}

.marketing p{
    display: block;
    margin-top: 90%;
    margin-left:30%;
    width: 500px;
    font-size: 30px;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}


.img-2{
    border: none;
    padding: none;
    display: block;
    align-self: flex-end;
    width: 150%;
    margin-top: 20%;
    margin-left: 20% ;
}

.botoes{
    display: flex;
    border: none;
    padding: none;
    margin-top: -40vh;
    margin-left: 100vh;
}

.AppleStore{
    border-radius: 6%;
}

.PlayStore{
    border-radius: 6%;
}

ul{
    list-style: none;
}

li button{
    border: none;
    width: 150px;
    height: 90px;
    
}

#bloco03{
    background-color: #fff;
    height: 800px;
}

#bloco03 h1{
    margin-left: 3%;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divulgacao img{
    margin-left: 50% ;
    box-shadow: 2px 9px 5px rgba(0,0,0.3,0.2);
}

.texto03{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-top: 06%;
    margin-left: 03%;

}

.divulgacao img{
    right: 03%;
}

.opinoes{
    background: rgb(255,127,0);
    background: linear-gradient(90deg, rgba(255,127,0,1) 35%, rgba(249,207,128,1) 100%);
    width: 100%;
    height: 800px;
}

.titulo{
    font-size: 60px;
    left: 35%;
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

.comentarios{
    left: 13%;
    font-size: 30px;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}



.comentarios ul{
    display: inline-flex;
}

.comentarios ul li{
    display: inline-flex;
    font-size: 30px;
}

.comentario01 h1{
    font-size: 80px;
}


.comentario02 h1{
    font-size: 80px;
}


.comentario03 h1{
    font-size: 80px;
}

.comentario01 p{
    margin-top: 150px;
    margin-left: 30px;
}


.comentario02 p{
    margin-top: 150px;
    margin-left: 30px;
}


.comentario03 p{
    margin-top: 150px;
    margin-left: 30px;
}

.contato{
    background-color: #fff;
    width: 100%;
    height: 800px;
}

.info{
    margin-left: 60%;
}

.info h1{
    font-size: 60px;
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.info p{
    font-size: 30px;    
    font-family: 'Atma', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}

iframe{
    margin-top: 5%;
    left: 5%;
}







footer{
    width: 100%;
    height: 60px;
    background-color: #000;
}